

Sign up!
<form action="/users" method="POST">
  Username
  <input type="text" name="username">
  Password
  <input type="password" name="password">
  <input name="authenticity_token" type="hidden" value="token_value">
  <input type="submit">
</form>