<!DOCTYPE html>
<html>
<head>
  <title>Blogz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/logout"> logout </a>
</br>

<%= yield %>

</body>
</html>
